

<div class="m-5">
  <h1 class="mb-5">Events you're hosting</h1>
  <% if current_user.events.any? %>
    <% current_user.events.each do |event| %>
      <%= render partial: "event", locals: {event: event} %>
    <% end %>
  <% end %>
</div>
