
<div class="d-flex justify-content-between m-5">
  <div class="w-50">
    <h2>Future Events</h2>
      <% current_user.attended_events.each do |event| %>
        <% if event.date.after?(Date.today) %>

          <%= render  partial: "event", locals: {event: event} %>

        <% end %>
      <% end %>
  </div>

  <div class="w-50">
    <h2>Past Events</h2>
      <% current_user.attended_events.each do |event| %>
        <% if event.date.before?(Date.today) %>
        
          <%= render partial: "event", locals: {event: event} %>

        <% end %>
      <% end %>
  </div>
</div>